<div>
  <table
    mat-table
    [dataSource]="products$"
    class="mat-elevation-z8"
    aria-describedby="Product list"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="inInventory">
      <th mat-header-cell *matHeaderCellDef>Inventory</th>
      <td mat-cell *matCellDef="let element">{{ element.inInventory }}</td>
    </ng-container>
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let element">
        {{ element.enabled == true ? "Yes" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef>Min.</th>
      <td mat-cell *matCellDef="let element">{{ element.min }}</td>
    </ng-container>
    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef>Max.</th>
      <td mat-cell *matCellDef="let element">{{ element.max }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="form-container">
  <div class="title-form">
    <h2>Product form</h2>
  </div>
  <form [formGroup]="product" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
      <mat-label>Product name</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        required
        formControlName="name"
      />
      <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
    </mat-form-field>
    <div
      *ngIf="name?.invalid && (name?.dirty || name?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="name?.errors?.['required']">Name is required.</div>
      <div *ngIf="name?.errors?.['maxlength']">
        Name has more than 10 characters.
      </div>
      <div *ngIf="name?.errors?.['minlength']">
        Name must be at least 3 characters.
      </div>
    </div>
    <mat-form-field hintLabel="Numeric value" appearance="fill">
      <mat-label>Inventory</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. 10"
        required
        formControlName="inInventory"
      />
      <mat-hint align="end">1234567890</mat-hint>
    </mat-form-field>
    <div
      *ngIf="
        inInventory?.invalid && (inInventory?.dirty || inInventory?.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="inInventory?.errors?.['required']">A value is required.</div>
      <div *ngIf="inInventory?.errors?.['min']">
        A value must be greater than 0.
      </div>
    </div>
    <mat-form-field hintLabel="Boolean value" appearance="fill">
      <mat-label>Enabled</mat-label>
      <input
        matInput
        #input
        placeholder="Ex. false"
        required
        formControlName="enabled"
      />
      <mat-hint align="end">true-false</mat-hint>
    </mat-form-field>
    <div
      *ngIf="enabled?.invalid && (enabled?.dirty || enabled?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="enabled?.errors?.['required']">A value is required.</div>
    </div>
    <mat-form-field hintLabel="Numeric value" appearance="fill">
      <mat-label>Min. inInventory</mat-label>
      <input
        matInput
        #input
        placeholder="Ex. 5"
        required
        formControlName="min"
      />
      <mat-hint align="end">1234567890</mat-hint>
    </mat-form-field>
    <div
      *ngIf="min?.invalid && (min?.dirty || min?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="min?.errors?.['required']">A value is required.</div>
      <div *ngIf="min?.errors?.['min']">A value must be greater than 0.</div>
    </div>
    <mat-form-field hintLabel="Numeric value" appearance="fill">
      <mat-label>Max. inInventory</mat-label>
      <input
        matInput
        #input
        placeholder="Ex. 10"
        required
        formControlName="max"
      />
      <mat-hint align="end">1234567890</mat-hint>
    </mat-form-field>
    <div
      *ngIf="max?.invalid && (max?.dirty || max?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="max?.errors?.['required']">A value is required.</div>
      <div *ngIf="max?.errors?.['min']">A value must be greater than 1.</div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!product.valid"
    >
      Submit
    </button>
  </form>
</div>
